
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  
.card {
    background-color: #fff;
    flex: 1;
    text-align: center;
}

.card p {
    background-color: rgb(9, 54, 83);
    color: #fff;
    padding: 20px;
}

.card h1 {
    padding: 10px 20px;
}